<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
  </head>
  <body>
    {% if uppy == true %}
      <script>
        console.log("EEICKCEJO")
      </script>
      {% include '_upload.html' %}
    {% endif %}

    {% if images|length > 0 %}
    <div class="grid-container">
      {% for image in images %}
      <div class="grid-item">
        <a href="{{ url_for('viewimage', img=image) }}">
          <img
            src="{{ url_for('thumbnail', filename=image) }}"
            alt="{{ image }}"
          />
        </a>
      </div>
      {%endfor %}
    </div>
    {% else %}
    <div>no images on the server add some</div>
    {% endif %}
  </body>
</html>
