body, html {
  height: 100%;
  margin: 0;
  background: var(--bg-color); }

#main {
  height: 100%; }

#imgc {
  background-image: url(/image/infile.jpg);
  -webkit-filter: blur(40px);
  -o-filter: blur(40px);
  filter: blur(40px);
  z-index: -100;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }
